AUTHS_STRIPE_TEST_SECRET_KEY=sk_test_replace_for_local_only
AUTHS_STRIPE_FIXTURE_SECRET_KEY=sk_test_replace_for_local_only
AUTHS_STRIPE_SUBSCRIPTION_CREATE_SECRET_KEY=rk_test_replace_with_subscription_create_restricted_key
AUTHS_STRIPE_ALLOWED_ORIGIN=http://localhost:8080
AUTHS_SUBSCRIPTION_CREATE_PUBLIC_API_BASE=http://localhost:8080
AUTHS_STRIPE_STATE_DIR=/tmp/auths-stripe-subscription-create
AUTHS_STRIPE_RELEASE=development
AUTHS_STRIPE_API_VERSION=2025-04-30.basil
